<!DOCTYPE html>
<html lang="ja">
    <head>
        <link rel="shortcut icon" href="../static/img/lion.jpg" >
        <meta charset="UTF-8">
        <title>{{username}}のプロフィール</title>
        <link href="/static/css/sample.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <h1>{{username}}の天気</h1>
        <input id="cityName" type="text">
        <div id="weatherInfo"></div>
        <a href="/static/pdf/myfile.pdf" download> pdfをダウンロード</a>
        <script type="text/javascript" src="/static/js/sample.js"></script>
    </body>
</html>